.wai {
    display: block;
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

.required {
    &:after {
        content: '*';
        margin-left: 2px;
    }
}

.alert {
    color: #f00;
}
