<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= _.capitalize(name) %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/style.css">
        <script src="components/jquery/jquery.js"></script>
        <script src="components/html5shiv/dist/html5shiv.js"></script>
    </head>
    <body id="article">
    	<script>$("html").attr("class", "js");</script>
		<a href="#content" class="wai">Skip to Main Content</a>

        <div id="pageWrap">
        	<div id="content">
        		<h1>Success!</h1>
        		<p>You have successfully generated a new TMPWW template!</p>
                <p>The following dependencies have already been grabbed for you:</p>
                <ul>
                    <li>jQuery <%= jQueryVer %></li>
                    <li>HTML5 Shiv</li>
                    <li>Eric Meyers' CSS Reset</li>
                </ul>
                <p>Using Bower, future dependencies will be installed in the <code>dev/components</code> folder.</p>
                <p>To enable LiveReload, enter <code>grunt server</code> in the terminal from your projects' folders. Then navigate to <code>localhost:9000</code> in your Chrome. Make sure you have the LiveReload extension installed.</p>
                <p>Have fun!</p>
        	</div>
        </div>
        <!-- /#pageWrap -->
    </body>
</html>
