<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= _.capitalize(name) %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/style.css">
        <script src="components/jquery/jquery.js"></script>
        <script src="components/html5shiv/dist/html5shiv.js"></script>
    </head>
    <body id="article">
    	<script>$("html").attr("class", "js");</script>
		<a href="#content" class="wai">Skip to Main Content</a>

        <div id="pageWrap">
            <main id="content">
                <p>New? Check out the <a href="https://github.com/sethlopezme/generator-tmpww">documentation</a>.</p>
            </main>
        </div>
        <!-- /#pageWrap -->
    </body>
</html>
