/*!
 * Title:    <%= name %>
 * Author:   TMP Wordlwide - <%= devLocation %>
 *           <%= devName %>
 *           <%= devEmail %>
 * Creation: <%= fullDate %>
 */

// CSS Reset
@import '../components/css-reset/index.css';

/*!
 * REQUIRED TB STYLES
 */

.wai {
	display: block;
	height: 1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
}

.required {
	&:after {
		content: '*';
		margin-left: 2px;
	}
}

.alert {
	color: #f00;
}

/*!
 * GENERAL STYLES
 */

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font: normal 100%/1.4 Arial, Helvetica, sans-serif;
}

p {
	margin: 10px 0;
}

ul {
	list-style-type: disc;
	
	li {
		margin: 5px 0;
	}
}