/*!
 * Title:    <%= name %>
 * Author:   TMP Wordlwide - <%= devLocation %>
 *           <%= devName %>
 *           <%= devEmail %>
 * Creation: <%= fullDate %>
 */

// CSS Reset
@import '../components/css-reset/index.css';

// Your styles below

body {
	font: normal 100%/1.4 Arial, Helvetica, sans-serif;
}

.wai {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

p {
	margin: 10px 0;
}

ul {
	list-style-type: disc;
	
	li {
		margin: 5px 0;
	}
}