<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>README</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/style.css">
    </head>
    <body id="article">
    	<script>$("html").attr("class", "js");</script>
		<a href="#content" class="wai">Skip to Main Content</a>

        <div id="pageWrap">
        	<div id="content">
        		<section>
                    <h1>Success!</h1>
                    <p>You have successfully generated a new TMPWW template!</p>
                    <p>You have the following dependencies:</p>
                    <ul>
                        <li>jQuery - <%= jQueryVer %></li>
                        <li>HTML5 Shiv</li>
                        <li>Eric Meyers' CSS Reset</li>
                    </ul>
                </section>
        	</div>
        </div>
        <!-- /#pageWrap -->
    </body>
</html>
